<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.wholesale.mapper.ComboMapper">

	<!-- DEFINITION AREA -->

	<sql id="comboColumns">
		c.`id`				as c_id,
		c.`name`			as c_name,
		c.`material_ids`	as c_material_ids,
		c.`description`		as c_description
	</sql>

	<resultMap type="Combo" id="comboResultMap">
		<id property="id" column="c_id" />
		<result property="name" column="c_name" />
		<result property="material_ids" column="c_material_ids" />
		<result property="description" column="c_description" />
	</resultMap>

	<sql id="comboWhere">
		<where>
			<if test="params.id != null">c.id = #{params.id}</if>
			<if test="params.name != null">and c.name = #{params.name}</if>
			<if test="params.material_ids != null">and c.material_ids = #{params.material_ids}</if>
			<if test="params.description != null">and c.description = #{params.description}</if>
		</where>
	</sql>

	<!-- // DEFINITION AREA -->

	<!-- =================================================================================== -->

	<!-- SELECT AREA -->

	<select id="selectCombos" parameterType="Combo" resultType="Combo">
		select * from combo as c
		<include refid="comboWhere"/>
	</select>

	<!-- select combo page -->
	<select id="selectCombosByPage" parameterType="Page" resultMap="comboResultMap">
		select 
			<include refid="comboColumns"/>
			from combo as c
			<include refid="comboWhere"/>
			<if test="params.orderby != null">${params.orderby}</if>
			limit #{pageOffset}, #{pageSize}
	</select>

	<!-- select combo amount -->
	<select id="selectCombosSum" parameterType="Page" resultType="int">
		select count(*) from combo as c
		<include refid="comboWhere"/>
	</select>

	<!-- // END SELECT AREA -->

	<!-- =================================================================================== -->

	<!-- INSERT AREA -->

	<insert id="insertCombo" parameterType="Combo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `combo`(
			`id`, `name`, `material_ids`, `description`
		) VALUES (
			#{id}, #{name}, #{material_ids}, #{description}
		)
	</insert>

	<!-- // END INSERT AREA -->

	<!-- =================================================================================== -->

	<!-- UPDATE AREA -->

	<!-- update combo -->
	<update id="updateCombo" parameterType="Combo">
		update combo
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="description != null">description = #{description},</if>
			<if test="material_ids != null">material_ids = #{material_ids}</if>
		</set>
		<where>
			<if test="params.id != null">id = #{params.id}</if>
		</where>
	</update>

	<!-- // END UPDATE AREA -->

	<!-- =================================================================================== -->
	<!-- DELETE AREA -->

	<delete id="deleteComboById" parameterType="int">
		DELETE FROM combo WHERE id = #{0}
	</delete>

	<!-- // END DELETE AREA -->

</mapper>