<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DEFINITION AREA --><!-- // DEFINITION AREA -->
<!-- =================================================================================== -->
<!-- SELECT AREA --><!-- // END SELECT AREA -->
<!-- =================================================================================== -->
<!-- INSERT AREA --><!-- // END INSERT AREA -->
<!-- =================================================================================== -->
<!-- UPDATE AREA --><!-- // END UPDATE AREA -->
<!-- =================================================================================== -->
<!-- DELETE AREA --><!-- // END DELETE AREA -->

<mapper namespace="com.tm.wholesale.mapper.OrderLogMapper">

	<!-- DEFINITION AREA -->

	<sql id="orderLogColumns">
		ol.`id`				as ol_id,
		ol.`operator`				as ol_operator,
		ol.`status`				as ol_status,
		ol.`status_desc`				as ol_status_desc,
		ol.`commnet_date`				as ol_commnet_date,
		ol.`comment`				as ol_comment,
		ol.`order_id`				as ol_order_id
	</sql>

	<resultMap type="OrderLog" id="orderLogResultMap">
		<id property="id" column="ol_id" />
		<result property="operator" column="ol_operator" />
		<result property="status" column="ol_status" />
		<result property="status_desc" column="ol_status_desc" />
		<result property="commnet_date" column="ol_commnet_date" />
		<result property="comment" column="ol_comment" />
		<result property="order_id" column="ol_order_id" />
	</resultMap>

	<sql id="orderLogWhere">
		<where>
			<if test="params.id != null">ol.id = #{params.id}</if>
			<if test="params.operator != null">and ol.operator = #{params.operator}</if>
			<if test="params.status != null">and ol.status = #{params.status}</if>
			<if test="params.status_desc != null">and ol.status_desc = #{params.status_desc}</if>
			<if test="params.commnet_date != null">and ol.commnet_date = #{params.commnet_date}</if>
			<if test="params.comment != null">and ol.comment = #{params.comment}</if>
			<if test="params.order_id != null">and ol.order_id = #{params.order_id}</if>
		</where>
	</sql>

	<!-- // DEFINITION AREA -->

	<!-- =================================================================================== -->

	<!-- SELECT AREA -->

	<select id="selectOrderLogs" parameterType="OrderLog" resultType="OrderLog">
		select * from order_log as ol
		<include refid="orderLogWhere"/>
	</select>

	<!-- select orderLog page -->
	<select id="selectOrderLogsByPage" parameterType="Page" resultMap="orderLogResultMap">
		select 
			<include refid="orderLogColumns"/>
			from order_log as ol
			<include refid="orderLogWhere"/>
			<if test="params.orderby != null">${params.orderby}</if>
			limit #{pageOffset}, #{pageSize}
	</select>

	<!-- select orderLog amount -->
	<select id="selectOrderLogsSum" parameterType="Page" resultType="int">
		select count(*) from order_log as ol
		<include refid="orderLogWhere"/>
	</select>

	<!-- // END SELECT AREA -->

	<!-- =================================================================================== -->

	<!-- INSERT AREA -->

	<insert id="insertOrderLog" parameterType="OrderLog" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `order_log`(
			`id`, `operator`, `status`, `status_desc`, `commnet_date`, 
			`comment`, `order_id`
		) VALUES (
			#{id}, #{operator}, #{status}, #{status_desc}, #{commnet_date}, 
			#{comment}, #{order_id}
		)
	</insert>

	<!-- // END INSERT AREA -->

	<!-- =================================================================================== -->

	<!-- UPDATE AREA -->

	<!-- update orderLog -->
	<update id="updateOrderLog" parameterType="OrderLog">
		update order_log
		<set>
			<if test="operator != null">operator = #{operator},</if>
			<if test="status != null">status = #{status},</if>
			<if test="status_desc != null">status_desc = #{status_desc},</if>
			<if test="commnet_date != null">commnet_date = #{commnet_date},</if>
			<if test="comment != null">comment = #{comment},</if>
			<if test="order_id != null">order_id = #{order_id}</if>
		</set>
		<where>
			<if test="params.id != null">id = #{params.id}</if>
		</where>
	</update>

	<!-- // END UPDATE AREA -->

	<!-- =================================================================================== -->
	<!-- DELETE AREA -->

	<delete id="deleteOrderLogById" parameterType="int">
		DELETE FROM order_log WHERE id = #{0}
	</delete>

	<!-- // END DELETE AREA -->

</mapper>